<!doctype html>
<html lang="es" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="css/bulma.min.css" >
    <link type="text/css" rel="stylesheet" href="css/tienda.css" >
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>
<body>
<section id="app" class="section">
    <div class="container" v-show="isPagina(1)">
        <h1 class="title">{{titulo}}</h1>
        <form action="registro-usuario" method="get">

            <div class="field">
                <div class="control">
                    <input id="nom" type="text" class="input is-primary auth" name="nom" placeholder="Ingrese nombre">
                </div>
            </div>


            <div class="field">
                <div class="control">
                    <input type="text" class="input is-primary auth" name="dni" placeholder="DNI">
                </div>
            </div>




            <div class="field">
                <div class="control">
                    <input type="text" class="input is-primary auth" name="cel" placeholder="Celular" >
                </div>
            </div>




            <div class="field">
                <div class="control">
                    <input type="text" class="input is-primary auth" name="rol" placeholder="Rol" >
                </div>
            </div>
            <button id="limpiaBtn" type="button" v-on:click="limpiar">Limpiar</button>
            <button type="submit" class="button is-large is-danger" >Registrar</button>
        </form>

    </div>

    <div v-show="isPagina(2)">
        Texto adicional
    </div>
    <div class="columns" >
        <div class="column is-center" >
            {{Bodega}}
        </div>

        <div class="column has-text-centered" >
            Pedidos.
        </div>

    </div>
</section>
<script src="js/vue.js" type="text/javascript"></script>
<script src="js/tienda.js" type="text/javascript"></script>
</body>
</html>
